@using Newtonsoft.Json.Linq;
@using Microsoft.AspNetCore.Components.Web;
<li class="@Class" data-accordion-item id="@Id" style="@Style.ToInlineCSS()">
    <a href="#" class="@TitleClass">@Title</a>
    <div class="@ContentClass" data-tab-content>
        @ChildContent
    </div>
</li>

@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    /// <summary>
    /// Unique HTML Identifier.
    /// </summary>
    [Parameter]
    public string Id { get; set; }

    /// <summary>
    /// Custom Class to Append at the end of default Foundation Class.
    /// </summary>
    [Parameter]
    public string Class { get; set; }

    /// <summary>
    /// HTML Style Attribute (JObject).
    /// <br/><br/><see href="https://flawlessloop.com/how-to-use-style-attribute/">How to Use Style</see>
    /// </summary>
    [Parameter]
    public JObject Style { get; set; }

    /// <summary>
    /// Title of the element.
    /// </summary>
    [Parameter]
    public string Title { get; set; }

    /// <summary>
    /// Custom Class to Append at the end of default Foundation Class (eg. "accordion-title custom").
    /// </summary>
    [Parameter]
    public string TitleClass { get; set; }

    /// <summary>
    /// Custom Class to Append at the end of default Foundation Class (eg. "accordion-content custom").
    /// </summary>
    [Parameter]
    public string ContentClass { get; set; }

    /// <summary>
    /// True if it is the first active element on load (Default: False)
    /// </summary>
    [Parameter]
    public bool Active { get; set; } = false;


    protected override async Task OnInitializedAsync()
    {

        if (Class != null) { Class = "accordion-item " + Class; }
        else { Class = "accordion-item"; }

        if (Active) { Class += " is-active"; }

        if (TitleClass != null) { TitleClass = "accordion-title " + TitleClass; }
        else { TitleClass = "accordion-title"; }

        if (ContentClass != null) { ContentClass = "accordion-content " + ContentClass; }
        else { ContentClass = "accordion-content"; }

    }
}

